body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: lightblue;


}

.title {
    font-size: 12px;
    margin-top: 20px;
}

.sub-heading {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;


}

.club-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 100px;
}

.club {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: lightgreen;
    text-align: center;
    position: relative;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3); 

}

.genre {
    font-size: 16px;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    font-style: italic;
    
}

.location {
    font-size: 16px;
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    font-style: italic;
    
}
 
.buttons {
    font-size: 16px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;    
}

.add {
  width:fit-content;
  background-color: lightgreen;



}
.filter{
    margin-bottom: 25px
}
.remove {
    margin: 5px;
    position: absolute;
    bottom: 285px;
    left: 60px;
    transform: translateX(-70%);
    font-size: medium;
    font-weight: bold;
    width: 80px; 
    background-color: #D21404;

    
}
.edit {
    margin: 5px;
    position: absolute;
    bottom: 285px;
    left: 180px;
    transform: translateX(-70%);
    font-size: medium;
    font-weight: bold;
    width: 80px; 
    background-color: white;

    
}
.plus {
   background-color: #09e310; 
}
.minus {
    background-color: #D21404; 
 }


.count {
    margin: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-70%);
    font-size: larger;
    font-weight: bold;
    
}

.message {
    font-size: 16px;
    position: absolute;
    bottom: -0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    font-style: italic;
    
}


.controls {
    margin-top: 200px; 
    display: flex;
    justify-content: center;
  }
  
button {
  margin: 5px;
  font-size: 20px;
  width: 50px;
  
}

.club-selector  {
    margin: auto;
}



button:focus {
    outline: none;
}
